<div class="not-found-block">
    <div class="container">
        <div class="section-404-main">
            <h1>404</h1>
            <p>
                Oops, we can’t find <br />
                the page you’re looking for...
            </p>
        </div>

        <h2>Here are some ideas!</h2>
        <ul class="ideas">
            <li>
                <a routerLink="/" class="logo-link">Home</a>
            </li>
            <li>
                <a routerLink="/favorites" class="logo-link">Favorites</a>
            </li>
        </ul>
    </div>
</div>
