@import "./../../../styles/base/bootstrap";
@import "./../../../styles/styles.scss";

:host {
  display: block;
  .city-list {
    display: block;

    @include media("≥phone") {
      display: flex;
      justify-content: center;
    }
  }
}
