@import "./../../../styles/base/bootstrap";
@import "./../../../styles/base/include-media";

:host {
  display: block;

  .search-holder {
    width: 100%;
  }

  .form-group {
    position: relative;
    width: 70%;

    .fa {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
      font-size: 1rem;

      &-close {
        left: auto;
        right: 10px;
        cursor: pointer;

        @include media("≥tablet") {
          &:hover {
            opacity: 0.6;
          }
        }
      }
    }

    .form-control {
      padding-left: 35px;
      padding-right: 35px;

      &.is-invalid {
        background: #fff;
      }
    }

    .searching {
      display: none;
    }

    .invalid-feedback {
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #fff;
      padding: 5px 10px;
      z-index: 2;
    }
  }

  .dropdown-menu {
    width: 100%;
  }
}
