@import "./../../../styles/base/bootstrap";
@import "./../../../styles/styles.scss";
@import "./../../../styles/components/animation";

:host {
  display: block;
  margin-bottom: map-get($spacers, 4);

  @include media("≥phone") {
    flex-basis: 50%;
  }

  @include media("≥tablet") {
    flex-basis: 33.333%;
  }

  @include media("≥desktop") {
    flex-basis: 20%;
  }

  .city-card {
    padding-left: map-get($spacers, 4);
    padding-right: map-get($spacers, 4);
    animation: fade 0.25s ease-in-out;
  }
  .card {
    &-holder {
      position: relative;
      background-color: $cyan;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 250px;
      height: 100%;
      padding: map-get($spacers, 2);
      border-radius: 20px;
      box-shadow: -2px 8px 40px rgba(0, 0, 0, 0.3);
      cursor: pointer;
      overflow: hidden;

      @include media("≥tablet") {
        &:hover {
          opacity: 0.8;
        }
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(25, 80, 230, 0.2);
      }

      &.bg {
        &--smoke {
          background-image: url("https://images.unsplash.com/photo-1475778057357-d35f37fa89dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
        }
        &--clouds {
          background-image: url("https://images.unsplash.com/photo-1511680321409-d92a85fc4f66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80");
        }
        &--rain {
          background-image: url("https://images.unsplash.com/photo-1534274988757-a28bf1a57c17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80");
        }
        &--clear {
          background-image: url("https://images.unsplash.com/photo-1523733257207-0b1c3aafa441?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80");
        }
        &--mist {
          background-image: url("https://images.unsplash.com/photo-1546340270-9908deb7b9a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1471&q=80");
        }
        &--default {
          background-color: $cyan;
        }
      }
    }

    &-top-panel {
      position: relative;
      color: $white;
      text-align: center;
      margin-bottom: 25px;
      z-index: 1;
    }

    &-temp {
      font-size: 1.5rem;
    }

    &-content {
      position: relative;
      color: $white;
      font-size: 0.8rem;
      z-index: 1;

      @include media("≥tablet") {
        font-size: 1.2rem;
      }
    }
  }
}
